* {
  margin: 0px;
  padding: 0px;
}

body,html {
  overflow-x: hidden;
}

textarea {
  width: 630px;
  height: 50px;
}

body {
  font-family: "Inter", sans-serif;
}

a:link {
  color: white;
  background-color: transparent;
  text-decoration: none;
}

a:visited {
  color: white;
  background-color: transparent;
  text-decoration: none;
}

a:hover {
  color: red;
  background-color: transparent;
  text-decoration: underline;
}

a:active {
  color: yellow;
  background-color: transparent;
  text-decoration: underline;
}

.header-container {
  background-color: rgb(76, 70, 163);
  color: white;
  display: flex;
  justify-content: space-between; 
  align-items: center; 
  height: 100%; 
  padding: 20px;
}

.logo-container {
  flex-grow: 1;
  min-width: 0;
  overflow: hidden;
  margin: 10px;
  width: 70%;
}

.navbar {
  display: flex;
}

.navbar a {
  padding: 5px;
  color: white;
  text-decoration: none;
}

.navbar a:hover {
  background-color: rgb(110, 104, 201);
  border-radius: 10px;
}

.main-interaction {
  display: flex;
  height: calc(100vh - 234px);
  padding: 20px;
  position: relative;
}

.main-interaction-overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  background: rgba(0, 0, 0, 0.05);
}

.task-description {
  padding: 20px;
  padding-top: 50px;
  padding-bottom: 30px;
}

.task-description ol {
  padding-left: 20px;
}

.open-tutorial-btn {
  margin: 20px;
  padding: 10px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  background-color: #4CAF50;
  color: white;
  border-radius: 10px;
  cursor: pointer;
}

.popup-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.706);
}

.popup {
  background: rgb(255, 255, 255);
  padding: 20px;
  width: 70%;
  max-width: 80%;
  border-radius: 20px;
  position: relative;
  text-align: center;
}

.close-popup-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  margin-right: 10px;
  background: rgb(255, 255, 255);
  border: 1px solid black;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  align-content: center;
  font-size: 30px;
  cursor: pointer;
  color: red;
}

.image-grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 15px;
  margin-top: 15px;
}

.image-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  resize: auto;
  margin: 10px;
}

.image {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  border: 2px solid black;
}

.description {
  margin-top: 5px;
  margin-left: 5px;
  margin-right: 5px;
  margin-bottom: 5px;
  font-size: 15px;
  color: #000000;
  text-align: left;
}

.floor-description-wrapper {
  margin: 50px;
}

.floor-description-input {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

#form-descripton {
  max-width: 200px;
}

.floor-description-input textarea {
  font-size: 15px;
  width: 50%;
  border-radius: 10px;
  margin-right: 10px;
  padding: 10px;
  overflow-y: auto;
}

.floor-description-input textarea:disabled {
  cursor: not-allowed;
}

.floor-description-submit-btn {
  border-radius: 5px;
  border: none;
  margin: 5px;
  cursor: pointer;
  color: white;
  padding: 10px;
  background-color: #4caf50;
}

.floor-description-submit-btn:hover {
  opacity: 0.9;
}

.floor-description-submit-btn:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.finish-btn-wrapper {
  margin: 10px;
  padding: 10px;
  display: flex;
  justify-content: center;
}

.finish-btn {
  font-size: larger;
  padding: 5px;
  height: 75px;
  border-radius: 10px;
  width: 150px;
}

.footer-container {
  left: 0;
  bottom: 0;
  position: relative;
  width: 100%;
  background-color: rgb(76, 70, 163);
  color: white;
  padding: 50px;
  display: flex;
  justify-content: space-between;
}

.footer-container h2,
.footer-container p {
  margin-bottom: 10px;
}

.footer-container h2 {
  font-size: 20px;
}

.footer-container img {
  margin-top: 60px;
  margin-right: 100px;
  max-width: 100%;
  height: 122px;
  width: 600px;
}

.acknowledge-section {
  flex: 1;
  max-width: 600px;
  margin-right: 20px;
  padding-right: 20px;
}

.logo-section img {
  width: 600px; 
}

.feedback-placeholder {
  height: 184px;
}

.feedback-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px;
  padding: 20px;
  margin-bottom: 30px;
}

.rating-container {
  display: flex;
  flex-direction: column;
}

.collaboration-metric,
.ai-performance-metric,
.coordination-metric,
.with-or-without-metric {
  align-items: center;
  display: flex;
  flex-direction: column;
}

.rating-selector {
  display: flex;
  flex-direction: row;
}

.rating-circle {
  margin: 0.5rem;
  cursor: pointer;
  border-radius: 50%;
  border: 1px solid rgb(23,23,23);
  width: 2rem;
  height: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.rating-circle:hover {
  transform: scale(1.25);
}

.rating-circle.selected {
  transform: scale(1.25);
  border: 3px solid rgb(23,23,23);
}

.after-rating-submitted {
  padding: 10px;
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.reset-button,
.submit-rating-button {
  padding: 20px;
  margin-top: 10px;
  border: none;
  background-color: #007bff;
  color: white;
  border-radius: 10px;
  cursor: pointer;
}

.dialogue-wrapper, .chat-space-wrapper {
  flex: 1;
  overflow-y: auto;
  padding: 10px;
  height: 100%;
  margin: 5px;
  display: flex;
  flex-direction: column;
  position: relative;
  text-align: center;
}

.dialogue, .chat-space {
  flex: 1;
  overflow-y: auto;
  padding: 10px;
  border: 1px solid #ccc;
  box-sizing: border-box;
  height: 50vh;
  margin: 5px;
  border-radius: 20px;
  text-align: justify;
  background-color: #fff;
  display: flex;
  flex-direction: column;
}

.dialogue {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.dialogue-poem {
  text-align: left;
  padding: 25px;
  margin: 5px;
  border-radius: 10px;
}

.dialogue-poem ul,
.dialogue-poem ol {
  padding-left: 20px;
  /* margin-left: 10px; */
}

.dialogue-content {
  flex: 1;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
}

.user-dialogue {
  background-color: #e1f5fe;
}

.ai-dialogue {
  background-color: #ffe0b2;
}


.input-form {
  display: flex;
  flex-direction: row;
  align-self: center;
}

.input-form textarea {
  flex-grow: 1;
  margin: 5px;
  width: 100%;
  min-width: 600px;
}

.input-form input {
  flex: 1;
  padding: 10px;
  flex-grow: 1;
  border: 1px solid #ccc;
  border-radius: 10px;
}

.input-form input:disabled {
  cursor: not-allowed;
}

.input-form button {
  padding: 10px;
  margin-left: 10px;
  border: none;
  color: white;
  border-radius: 4px;
  cursor: pointer;
  border-radius: 5px;
  height: 50px;
  min-width: 50px;
  background-color: #4caf50;
}

.input-form button:hover {
  opacity: 0.9;
}

.input-form button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.user-dialogue {
  background-color: #e1f5fe;
}

.ai-dialogue {
  background-color: #ffe0b2;
}

.messages {
  flex: 1;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
}

.message {
  padding: 10px;
  margin: 5px 0;
  border-radius: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
  max-width: 70%;
  word-wrap: break-word
}

.user-message {
  background-color: #e1f5fe;
  align-self: flex-end;
  text-align: left;
}

.ai-message {
  background-color: #ffe0b2;
  align-self: flex-start;
  text-align: left;
}

.avatar {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px; 
  height: 40px; 
  border-radius: 50%;
  color: white;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  margin: 10px;
}

.avatar-ai {
  background-color: #007BFF;
  align-self: flex-start;
}

.avatar-user {
  background-color: #28A745;
  align-self: flex-end;
}

.survey-button {
  width: 170px;
  height: 35px;
  position: fixed;
  right: 0;
  z-index: 100;
  top: 60%;
  transform-origin: bottom right;
  transform: translateY(-50%) rotate(-90deg);
  background-color: rgb(45, 34, 200);
  color: white;
  font-weight: bold;
  font-size: 17.5px;
  border-radius: 10px 10px 0 0;
  border: none;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.survey-button:hover {
  background-color: rgb(5, 5, 142);
  transform: translateY(-50%) rotate(-90deg) scale(1.08);
}

.game {
  display: flex;
  flex-direction: row;
  gap: 20px;
  padding: 20px;
  margin-top: 50px;
  margin-left: 20px;
  align-items: center;
  max-width: 750px;
}

.grid {
  position: relative;
  border: 2px solid #ffffff;
}

.tile {
  position: absolute;
  width: 30px;
  height: 30px;
  box-sizing: border-box;
  border: 0.05px solid #ddd;
}

.furniture {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-weight: bold;
  cursor: grab;
  border: 1px solid #999;
  border-radius: 6px;
  box-sizing: border-box;
  position: relative;
}

.inventory-container {
  margin-top: 16px;
  padding: 12px;
  background-color: rgb(186, 156, 134);
  border: 2px solid rgb(94, 46, 31);
  min-width: 200px;
  min-height: 360px;
  border-radius: 8px;
  box-shadow: 0 2px 6px rgba(73, 69, 69, 0.664);
  max-width: 600px;
}

.inventory-title {
  font-size: 18px;
  font-weight: bold;
  text-align: center;
}

.inventory-items {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 20px;
  padding: 30px;
}

.inventory-item {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  color: white;
  cursor: grab;
  transition: 0.15s ease;
  border-radius: 6px;
}

.inventory-item:hover {
  opacity: 0.85;
}

.floorplan-interaction-overlay {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10; 
  background: rgba(0, 0, 0, 0.04);
  border-radius: 10px;
}

@media (max-width: 1538px) {
  body,html {
    font-size: 12px;
  }

  .header-container {
    height: 150px;
  }

  .logo-container {
    font-size: 12px;
  }

  .meal-description-input {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .game {
    flex-direction: row;
  }

  .inventory-items {
    flex-direction: column;
    width: 100%;
  }

  .inventory-item {
    width: calc(var(--grid-size)*1);
    height: calc(var(--grid-size)*1);
  }

  #form-descripton {
    max-width: 300px;
  }

  .meal-description-input textarea {
    width: 100%;
    margin: 10px;
  }

  .main-interaction {
    flex-direction: column;
    min-height: 1200px;
  }

  .chat-space-wrapper {
    max-height: 500px;
  }

  .footer-container {
    flex-direction: column;
    align-items: center;
    padding: 20px;
    margin-top: 20px;
  }

  .footer-container img {
    width: 85%;
    height: 85%;
    margin: 10px
  }
}

@media (max-width: 1024px) {
  body,html {
    font-size: 12px;
  }

  .header-container {
    height: 150px;
  }

  .logo-container {
    font-size: 12px;
  }

  .meal-description-input {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .game {
    flex-direction: column;
    width: 100% !important;
    height: 100% !important;
  }

  .inventory-items {
    flex-direction: row;
    width: 100%;
  }

  .inventory-item {
    width: calc(var(--grid-size)*1);
    height: calc(var(--grid-size)*1);
  }

  #form-descripton {
    max-width: 300px;
  }

  .meal-description-input textarea {
    width: 100%;
    margin: 10px;
  }

  .main-interaction {
    flex-direction: column;
    min-height: 1600px;
  }

  .chat-space-wrapper {
    max-height: 500px;
  }

  .footer-container {
    flex-direction: column;
    align-items: center;
    padding: 20px;
    margin-top: 20px;
  }

  .footer-container img {
    width: 85%;
    height: 85%;
    margin: 10px
  }
}

@media (max-width: 768px) {
  body,html {
    font-size: 12px;
  }

  .header-container {
    height: 150px;
  }

  .logo-container {
    font-size: 12px;
  }

  .meal-description-input {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .game {
    flex-direction: column;
    width: 100% !important;
    height: 100% !important;
  }

  .inventory-items {
    flex-direction: row;
    width: 100% !important;
  }

  .inventory-item {
    width: calc(var(--grid-size)*1);
    height: calc(var(--grid-size)*1);
  }

  #form-descripton {
    max-width: 300px;
  }

  .meal-description-input textarea {
    width: 100%;
    margin: 10px;
  }

  .main-interaction {
    flex-direction: column;
    min-height: 1600px;
  }

  .chat-space-wrapper {
    max-height: 500px;
  }

  .footer-container {
    flex-direction: column;
    align-items: center;
    padding: 20px;
    margin-top: 20px;
  }

  .footer-container img {
    width: 85%;
    height: 85%;
    margin: 10px
  }
}